/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    padding: 10px;
    font-family: IBM Plex Mono, sans-serif;
    background-image: var(--background-image, url("../images/cover-image.png"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@media (width >= 768px) {
    .page {
        padding: 20px;
    }
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--secondary-color, #FF0070);
    border-right: 1px solid var(--secondary-color, #FF0070);
}

.decorated-zone::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--secondary-color, #FF0070);
    border-left: 1px solid var(--secondary-color, #FF0070);
}

.header {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 20px);
    border: solid 1px transparent;
}

@media (width >= 768px) {
    .header {
        height: calc(100dvh - 40px);
    }
}

.header__rec {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    color: var(--accent-color, #FF0070);
    font-size: 18px;
    line-height: 1.4;
}

.header__rec::after {
    content: '';
    position: absolute;
    top: calc(50% - 9px / 2);
    right: 8px;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: currentColor;
    filter: drop-shadow(0px 0px 4px currentColor);
}

.header__theme-menu {
    margin-block-start: 65px;
}

.header__theme-menu-button_active {
    pointer-events: none;
}

@media (768px <= width < 1024px) {
    .header__theme-menu {
        margin-block-start: 168px;
    }
}

@media (width >= 1024px) {
    .header__theme-menu {
        flex-direction: row;
        justify-content: center;
        margin-block-start: 0;
    }
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

@media (width >= 1024px) {
    .header__theme-menu-list {
        flex-direction: row;
        justify-content: center;
    }
}

.header__theme-menu-button {
    border: 1px solid transparent;
    padding: 1px 13px;
    color: var(--secondary-color, #FF0070);
    font-size: 18px;
    text-transform: lowercase;
    background: transparent;
}

.header__theme-menu-button:hover {
    border: 1px solid currentColor;
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border: 1px solid transparent;
    border-block-end-color: currentColor;
}

.main-heading {
    color: var(--main-heading-color, #DB00FF);
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: .825;
    text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

.header__main-heading {
    margin: auto 0;
}

@media (width >= 768px) {
    .main-heading {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__main-heading {
        margin-left: -20px;
    }
}

.sub-heading {
    margin: 20px 0 10px;
    color: var(--accent-text-color, #000028);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    background-color: var(--accent-color, #FF0070);
}

@media (width >= 768px) {
    .two-cols-layout__content {
        .sub-heading:first-child {
            margin-block-start: 0;
        }
    }
}

.header__promo {
    max-width: 364px;
    margin: 0 0 53px auto;
}

@media (768px <= width < 1024px) {
    .header__promo {
        margin-bottom: 163px;
    }
}

@media (width >= 1024px) {
    .header__promo {
        max-width: 491px;
        margin-bottom: 112px;
    }
}

.article {
    margin-block-start: 50px;
}

@media (width >= 768px) {
    .article {
        margin-block-start: 80px;
    }
}

.article-heading {
    color: var(--secondary-color, #FF0070);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
}

@media (768px <= width < 1024px) {
    .article-heading {
        max-width: 236px;
    }
}

@media (width >= 1024px) {
    .article-heading {
        max-width: 315px;
    }
}

.two-cols-layout {
    display: grid;
    column-gap: 20px;
}

@media (768px <= width < 1024px) {
    .two-cols-layout {
        grid-template-columns: 236px 1fr;
        column-gap: 20px;
    }

    .two-cols-layout__content {
        .sub-heading:first-child {
            margin-block-start: 0;
        }
    }
}

@media (width >= 1024px) {
    .two-cols-layout {
        grid-template-columns: 315px 1fr;
        column-gap: 20px;
    }
}

@media (width >= 1024px) {
    .three-cols-layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }
}

.topic-heading {
    margin: 20px 0 10px;
    color: var(--accent-text-color, #000028);
    font-weight: normal;
    font-size: 18px;
    line-height: 1.3;
    background-color: var(--accent-color, #FF0070);
}

.text {
    color: var(--text-color, #F1B2CE);
    font-size: 18px;
    line-height: 1.3;
}

.text-link {
    border: 1px solid transparent;
    text-decoration: none;
    text-shadow: 1px 1px 0 var(--accent-color, #FF0070);
}

.text-link:hover {
    border-bottom: 1px solid currentColor;
}

.text-link:focus {
    outline: none;
}

.text-link:focus-visible {
    border: 1px solid currentColor;
}

.gallery-section {
    margin-top: 50px;
}

@media (width >= 768px) {
    .gallery-section {
        margin-block-start: 80px;
    }

    .gallery-section .sub-heading {
        margin: 0 0 20px;
    }
}

.gallery {
    display: grid;
    gap: 10px;
}

@media (768px <= width < 1024px) {
    .gallery {
        grid-template-rows: 192px 230px 318px;
    }
}

@media (width >= 1024) {
    .gallery {
        grid-template-rows: 260px 315px 428px;
    }
}

@media (width >= 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "sunset sunset ice-cream"
            "tape books ice-cream"
            "tape street street";
        gap: 20px;
    }

    .gallery__sunset {
        grid-area: sunset;
    }

    .gallery__ice-cream {
        grid-area: ice-cream;
    }

    .gallery__tape {
        grid-area: tape;
    }

    .gallery__books {
        grid-area: books;
    }

    .gallery__street {
        grid-area: street;
    }
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100dvh - 20px);
    margin-top: 50px;
}

@media (width >= 768px) {
    .footer {
        min-height: calc(100dvh - 40px);
        margin-top: 80px;
    }
}
