/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --background-color: #000028;
    --background-accent-color: #F1B2CE;

    --text-color: #F1B2CE;
    --h2-color: #DB00FF;
    --h3-color: #FF0070;
    --h4-color: var(--background-color, #000028);
    --h4-background-color: var(--text-color, #F1B2CE);
}
